/**
 * Base styles
 * -----------------------------------------------------------------------------
 */
body{
    background: #000000;
}

img{
	max-width: 100%;
}

a img{
    border: none;
    outline: none;
}


.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

.container{
    margin: 0 auto;
    max-width: 960px;
    position: relative;
}

.large-sparkle {
    overflow: hidden;
    display: block;
    position: relative;
    max-width: 570px;
}

.large-sparkle .sparkle {
    width: 120px;
    height: 90px;
    position: absolute;
    bottom: 0;
    left: -120px;
    background: url('../images/large-sparkle.png') no-repeat center center;
}

.large-sparkle2 {
    overflow: hidden;
    display: block;
    position: relative;
    max-width: 100%;
}

.large-sparkle2 .sparkle {
    width: 120px;
    height: 120px;
    position: absolute;
    bottom: 0;
    left: -120px;
    background: url('../images/large-sparkle.png') no-repeat center center;
}



/**
 * Fonts
 * -----------------------------------------------------------------------------
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic,400italic);

@font-face {
    font-family: 'gotham_htfmedium';
    src: url('../fonts/gothhtfm-webfont.eot');
    src: url('../fonts/gothhtfm-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gothhtfm-webfont.woff') format('woff'),
    url('../fonts/gothhtfm-webfont.ttf') format('truetype'),
    url('../fonts/gothhtfm-webfont.svg#gotham_htfmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_htfbold';
    src: url('../fonts/gothhtfb-webfont.eot');
    src: url('../fonts/gothhtfb-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gothhtfb-webfont.woff') format('woff'),
    url('../fonts/gothhtfb-webfont.ttf') format('truetype'),
    url('../fonts/gothhtfb-webfont.svg#gotham_htfbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_htfbook';
    src: url('../fonts/gothht01-webfont.eot');
    src: url('../fonts/gothht01-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gothht01-webfont.woff') format('woff'),
    url('../fonts/gothht01-webfont.ttf') format('truetype'),
    url('../fonts/gothht01-webfont.svg#gotham_htfbook') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'edo_szregular';
    src: url('../fonts/edosz-webfont.eot');
    src: url('../fonts/edosz-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/edosz-webfont.woff') format('woff'),
    url('../fonts/edosz-webfont.ttf') format('truetype'),
    url('../fonts/edosz-webfont.svg#edo_szregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


body{
    font-family: 'Open Sans', sans-serif;
}

.wrap{
	position: relative;
    max-width: 1920px;
    margin: 0 auto;
}

.scrollup {
    width: 43px;
    height: 43px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background: url("../images/up-button.png") no-repeat;
}

.head{
    background: #111111;
    margin: 0 auto;
    min-height: 100px;
    max-width: 960px;
	overflow: hidden;
}

.head .logo{
    float: left;
    width: 250px;
    height: 40px;
    margin: 30px 0 0 40px;
}

.head .info{
    float: right;
    font-family: 'gotham_htfmedium';
    color: #ffffff;
    margin: 45px 40px 0 0;
}

.head .info a{
    color: #ffffff;
    text-decoration: none;
}

.head .info .mail,  .head .info .phone{
    padding: 0 0 0 30px;
    display: inline-block;
    font-size: 15px;
}

.head .info .mail{
    background: url("../images/icon-mail.png") no-repeat top left;
}

.head .info .phone {
    margin: 0 0 0 30px;
    background: url("../images/icon-phone.png") no-repeat top left;
}


/**
 * Block 1
 * -----------------------------------------------------------------------------
 */

.block1{
    width: 100%;
    height: 1212px;
    background: url("../images/block1.jpg") no-repeat top center;
}

.block1 .welcome{
    width: 100%;
}


.block1 .welcome .left-side{
	float: left;
}

.block1 .welcome .left-side .title{
    font-family: 'gotham_htfbook';
    padding: 70px 0 0 0;
    font-size: 50px;
    line-height: 55px;
    color: #ffffff;
}

.block1 .welcome .left-side .title span{
    display: inline-block;
    font-family: 'gotham_htfbold';
    padding: 2px 16px;
}

.block1 .welcome .left-side .title span.style1{
    background: #4d85c1;
}

.block1 .welcome .left-side .title span.style2{
    background: #ffffff;
    color: #000000;
}


.block1 .welcome .right-side{
    float: right;
    margin-top: 65px;
}

.block1 .welcome .right-side .offer{
    background: url("../images/best-offer.png") no-repeat;
    width: 355px;
    height: 200px;
    font-family: 'gotham_htfbold';
    color: #ffffff;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    padding: 110px 0 0 0;
    text-transform: uppercase;
}

.block1 .magnum-bullet{
    position: relative;
    top: 74px;
    left: 0px;
}

.block1 .bottom-title{
    text-transform: uppercase;
    font-size: 150px;
    line-height: 100px;
    text-align: center;
    color: #ffffff;
    font-family: 'gotham_htfbold';
    margin: 300px 0 0 0;
    letter-spacing: -1px;
}

.block1 .bottom-title span{
    font-size: 100px;
    line-height: 85px;
}


/**
 * Block 2
 * -----------------------------------------------------------------------------
 */

.block2{
    width: 100%;
    height: 900px;
    background: url("../images/block2.jpg") no-repeat top center;
}

.block2 .list{
    width: 100%;
    margin: 20px 0 0 0;
}

.block2 .list .item{
    float: left;
    width: 480px;
    margin: 100px 0 0 0;
}

.block2 .list .item.item3{width: 520px; }
.block2 .list .item.item4{width: 440px; }

.block2 .list .item .icon {
    display: inline-block;
}


.block2 .list .item .icon.icon1{ width: 144px;}
.block2 .list .item .icon.icon2{ width: 130px;}
.block2 .list .item .icon.icon3{ width: 164px;}
.block2 .list .item .icon.icon4{ width: 192px;}


.block2 .list .item .txt{
    display: inline-block;
    font-size: 30px;
    font-family: 'gotham_htfmedium';
    color: #ffffff;
}


.block2 .title{
    text-align: center;
    font-family: 'edo_szregular';
    margin: 70px 0 0 0;
    font-size: 80px;
    color: #ff7200;
}

.block2 .title span{
    color: #ea0c0b;
}

/**
 * Block 3
 * -----------------------------------------------------------------------------
 */

.block3{
    width: 100%;
    height: 1796px;
    background: url("../images/block3.jpg") no-repeat top center;
}

.block3 .title{
    font-size: 135px;
    line-height: 90px;
    color: #ffffff;
    text-align: center;
    font-family: 'gotham_htfbold';
    padding: 64px 0 0 0;
}

.block3 .list{
    margin: 840px 0 0 0;
}

.block3 .list .item{
    background: url("../images/icon-check.png") no-repeat  center left;
    font-size: 35px;
    padding-left: 48px;
    color: #ffffff;
    font-family: 'gotham_htfbook';
    margin: 0 0 16px 0;
}

.block3 .list .item span{
    font-family: 'gotham_htfmedium';
}

.block3 .list .item.item-big{
    font-size: 50px;
    line-height: 60px;
    margin: 0 0 16px -12px;
    background: url("../images/icon-check-big.png") no-repeat center left;
    padding-left: 60px;
    font-family: 'gotham_htfbold';
}

.block3 .list .item.item-big span{
    color: #ea0c0b;
    font-family: 'gotham_htfbold';
}

/**
 * Block 4
 * -----------------------------------------------------------------------------
 */

.block4{
    width: 100%;
    height: 1056px;
    background: url("../images/block4.jpg") no-repeat top center;
}

.block4 .under-title{
    padding: 95px 0 0 0;
    color: #b6d9ff;
    font-size: 30px;
    line-height: 50px;
    font-family: 'gotham_htfbook';
}

.block4 .under-title span{
    color: #002b59;
    background: #b6d9ff;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'gotham_htfmedium';
}

.block4 .title{
    font-family: 'gotham_htfbold';
    color: #ffffff;
    font-size: 92px;
    line-height: 65px;
    padding: 48px 0 0 0;
    text-transform: uppercase;
}

.block4 .title span{
    display: inline-block;
    background: #ea0c0b;
    font-size: 140px;
    line-height: 120px;
}

.block4 .text{
    max-width: 560px;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 0 0 0;
    clear: both;
}

.block4 .text strong{
    font-weight: 800;
    font-size: 24px;
}


/**
 * Block 5
 * -----------------------------------------------------------------------------
 */
 
.block5{
	width: 100%;
    height: 3106px;
    background: url("../images/block5.jpg") no-repeat top center;
}

.block5 .title{
    font-family: 'gotham_htfbold';
    font-size: 118px;
    line-height: 85px;
    text-align: center;
    color: #ffffff;
    padding: 92px 0 0 0;
    text-transform: uppercase;
}

.block5 .title span{
	color: #000000;
}

.block5 .title strong{
	display: inline-block;
	background: #ea0c0b;
    line-height: 104px;
}

.block5 .level1 .table{
    width: 100%;
    border: 2px solid #000000;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

.block5 .level1 .table .line{
    float: left;
    width: 100%;
    font-size: 20px;
    font-family: 'gotham_htfmedium';
    border-bottom: 1px solid #b2b2b2;
    line-height: 1;
}

.block5 .level1 .table .line .left{
    background: #ffffff;
    float: left;
    width: 50%;
    padding: 18px 8px 18px 24px;
    box-sizing: border-box;
}

.block5 .level1 .table .line .right{
    background: #e7e7e7;
    float: left;
    width: 50%;
    padding: 18px 4px 18px 34px;
    box-sizing: border-box;
}


.block5 .title2{
    margin: 50px 0 0 0;
    text-align: center;
    font-size: 50px;
    font-family: 'edo_szregular';
    color: #000000;
    padding-bottom: 12px;
}

.block5 .subtitle{
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-family: 'gotham_htfbook';
    padding-bottom: 28px;
}


.block5 .level1, .block5 .level2{
    position: relative;
}

.block5 .level1 .bullet{
    background: url("../images/bullet-black.png") no-repeat;
    width: 120px;
    height: 117px;
    right: 88px;
    position: absolute;
}

.block5 .level2 .bullet1, .block5 .level2 .bullet2, .block5 .level2 .bullet3, .block5 .level2 .bullet4, .block5 .level2 .bullet5, .block5 .level2 .bullet6{
    background: url("../images/bullet-black.png") no-repeat;
    width: 120px;
    height: 117px;
    position: absolute;
}

.block5 .level2 .bullet1{
    top: 36px;
}
.block5 .level2 .bullet2{
    right: -40px;
    top: 80px;
}
.block5 .level2 .bullet3{
    top: 496px;
    left: -108px;
}
.block5 .level2 .bullet4{
    top: 600px;
    right: -96px;
}
.block5 .level2 .bullet5{
    top: 800px;
    left: 24px;
}
.block5 .level2 .bullet6{
    top: 864px;
    left: 488px;
}


.block5 .level2 .col{
    float: left;
    width: 307px;
}

.block5 .level2 .col-middle{
    margin: 0 17px 0 16px;
}

.block5 .level2 .table-one-column{
    width: 100%;
    font-size: 18px;
    border: 2px solid #000000;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.block5 .level2 .table-one-column .line{
    background: #ffffff;
    width: 100%;
    font-family: 'gotham_htfmedium';
    border-bottom: 1px solid #b2b2b2;
    padding: 12px 18px;
    line-height: 1;
}


.block5 .level2 .table-two-column{
    width: 100%;
    font-size: 18px;
    border: 2px solid #000000;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.block5 .level2 .table-two-column .table-title, .block5 .level2 .table-one-column .table-title{
    color: #ff7200;
    font-family: 'gotham_htfbold';
    background: #ffffff;
    padding: 5px 0 23px;
    display: inline-block;
}

.block5 .level2 .table-two-column .line{
    background: #ffffff;
    width: 100%;
    font-family: 'gotham_htfmedium';
    border-bottom: 1px solid #b2b2b2;
    line-height: 1;
    display: table;
}

.block5 .level2 .table-two-column .line .left{
    background: #ffffff;
    width: auto;
    box-sizing: border-box;
    display: table-cell;
    padding: 15px 18px;
}

.block5 .level2 .table-two-column .line .right{
    background: #e7e7e7;
    width: 55px;
    box-sizing: border-box;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.block5 .level2 .table-two-column .line .right.bottom{
    vertical-align: bottom;
    padding-bottom: 16px;
}


.block5 .level3 .left{
    float: left;
    width: 50%;
    padding-right: 19px;
    box-sizing: border-box;
}

.block5 .level3 .right{
    float: left;
    width: 50%;
    box-sizing: border-box;
}

.block5 .level3 .title-lv3{
    text-align: center;
    font-size: 50px;
    line-height: 55px;
    color: #ffffff;
    font-family: 'edo_szregular';
}

.block5 .level3 .title-lv3 span{
    margin-top: -20px;
    display: inline-block;
    font-family: 'gotham_htfbook';
    font-size: 30px;
    line-height: 40px;
}

.block5 .level3 .title-lv31{
    margin: 34px 0 0 0;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
    font-family: 'gotham_htfbook';
    padding-bottom: 34px;

}

.block5 .level3 .title-lv31 span{
    margin-top: -20px;
    display: inline-block;
    font-family: 'edo_szregular';
    font-size: 50px;
    line-height: 80px;
    color: #000000;
}


.block5 .level3 .table-two-column{
    width: 100%;
    font-size: 18px;
    border: 2px solid #000000;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    margin: 16px 0 0 0;
}


.block5 .level3 .table-two-column .line{
    background: #ffffff;
    width: 100%;
    font-family: 'gotham_htfmedium';
    border-bottom: 1px solid #b2b2b2;
    line-height: 1;
    display: table;
}

.block5 .level3 .table-two-column .line .left{
    background: #ffffff;
    width: auto;
    box-sizing: border-box;
    display: table-cell;
    padding: 13px 21px;
    float: none;
}

.block5 .level3 .table-two-column .line .right{
    background: #e7e7e7;
    width: 75px;
    box-sizing: border-box;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    float: none;
}

.block5 .level4{
    width: 100%;
    padding: 40px 0 0 0;
}

.block5 .level4 .left{
    float: left;
    width: 50%;
}

.block5 .level4 .left .title-lv4{
    color: #ffffff;
    text-align: center;
    font-family: 'edo_szregular';
    font-size: 50px;
    line-height: 50px;
    padding: 0 0 20px 0;
}

.block5 .level4 .left .title-lv42{
    padding: 20px 0 0 0;
    font-family: 'gotham_htfbold';
    color: #ff7100;
    font-size: 22px;
    line-height: 32px;
}

.block5 .level4 .left .title-lv42 span{
    font-size: 55px;
}


.block5 .level4 .table-two-column{
    width: 97%;
    font-size: 18px;
    border: 2px solid #000000;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
}


.block5 .level4 .table-two-column .line{
    background: #ffffff;
    width: 100%;
    font-family: 'gotham_htfmedium';
    border-bottom: 1px solid #b2b2b2;
    line-height: 1;
    display: table;
}

.block5 .level4 .table-two-column .line .left{
    background: #ffffff;
    width: auto;
    box-sizing: border-box;
    display: table-cell;
    padding: 21px 27px;
    float: none;
}

.block5 .level4 .table-two-column .line .right{
    background: #e7e7e7;
    width: 75px;
    box-sizing: border-box;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    float: none;
}

.block5 .level4 .right{
    float: left;
    width: 50%;
}

.block5 .level4 .right .title-lv43{
    color: #ea0c0b;
    text-align: center;
    font-family: 'edo_szregular';
    font-size: 55px;
    line-height: 60px;
    margin-top: 72px;
    text-shadow: 0px 5px 5px #000;
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    writing-mode: lr-tb;
}
.block5 .level4 .right .title-lv43 span{
    display: inline-block;
    font-size: 140px;
    line-height: 80px;
    font-family: 'gotham_htfbold';
    color: #ffdf00;
}

.block5 .level4 .right .cta-area{
    position: relative;
    max-width: 500px;
    height: 100px;
    background: url("../images/block5-cta-arrow.png") no-repeat;
    margin: -30px 0 0 0;

}

.block5 .level4 .right .cta-area .cta-button{
    display: block;
    text-transform: uppercase;
    width: 429px;
    height: 90px;
    background: url("../images/block5-cta.png") no-repeat;
    font-family: 'gotham_htfbold';
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    line-height: 90px;
    margin: 48px 0 0 60px;
    float: left;
}


/**
 * Block 6
 * -----------------------------------------------------------------------------
 */
 
.block6{
	width: 100%;
    height: 1260px;
    background: url("../images/block6.jpg") no-repeat top center;
}

.block6 .box{
	margin: 0 auto;
	max-width: 960px;
	min-height: 800px;
	background: #000000 url("../images/box-gun.jpg") no-repeat top center;
	border: 20px solid #ffffff;
	border-radius: 10px;
    position: relative;
}

.block6 .box .boxtitle{
    font-family: 'gotham_htfbold';
    font-size: 120px;
    line-height: 80px;
    color: #ffffff;
    margin: 70px 0 0 40px;
    text-transform: uppercase;
}

.block6 .box .boxtitle span{
    display: inline-block;
    background: #ea0c0b;
    line-height: 100px;
}

.block6 .box  .list{
	width: 100%;
    margin: 72px 0 0 0
}

.block6 .box .item{
	width: 280px;
	float: left;
	font-family: 'gotham_htfmedium';
	font-size: 24px;
	padding: 0 0 0 50px;
	margin: 0 0 20px 50px;
	color: #ffffff;
	background: url("../images/target.png") no-repeat center left;
}

.block6 .box .decoration{
    position: absolute;
    right: 60px;
    margin: -40px 0 0 0;
}

.block6 .bottom{
	width: 100%;
}

.block6 .bottom .left-side{
	float: left;
	width: 350px;
	text-align: center;
}

.block6 .bottom .left-side .b-title{
	font-family: 'edo_szregular';
	font-size: 100px;
	line-height: 75px;
	color: #000000;
	margin: 80px 0 0 0;
	text-shadow: 0px 5px 5px #fff;
	-webkit-transform: rotate(348deg);
	-moz-transform: rotate(348deg);
	-o-transform: rotate(348deg);
	writing-mode: lr-tb;
}

.block6 .bottom .right-side {
	float: right;
	margin: 100px 0 0 0;
}

.block6 .bottom .right-side h3{
	margin: 0 0 20px 0;
	color: #ffffff;
	font-size: 24px;
	line-height: 30px;
	
}

.block6 .bottom .right-side h3 sup{
	color: #ea0c0b;
}

.block6 .bottom .right-side h3 span{
	display: inline-block;
	background: #5f95cf;
	color: #000000;
}

.block6 .bottom .right-side p{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #9d9d9d;
    font-style: italic;
    text-align: right;
    border-right: 5px solid #fff;
    padding-right: 20px;
}

/**
 * Block 7
 * -----------------------------------------------------------------------------
 */
 
.block7{
	width: 100%;
    height: 1510px;
    background: url("../images/block7.jpg") no-repeat top center;
}

.block7 .title{
	font-family: 'gotham_htfbold';
	font-size: 140px;
	line-height: 100px;
	color: #ffffff;
	text-align: right;
    padding: 90px 0 0 0;
}

.block7 .title span{
	font-size: 100px;
}

.block7 .main-image{
    width: 100%;
    text-align: center;
    padding: 80px 0 0 0;
}

.block7 .guns{
    width: 100%;
    text-align: center;
    position: relative;
    top: -50px;
}


/**
 * Block 8
 * -----------------------------------------------------------------------------
 */
 
.block8{
	width: 100%;
    height: 1205px;
    background: url("../images/block8.jpg") no-repeat top center;
}

.block8 .title{
    font-family: 'gotham_htfbold';
    font-size: 124px;
    line-height: 85px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -2px;
    position: relative;
    top:-50px;
}

.block8 .title span{
    display: inline-block;
    color: #000000;
    font-size: 130px;
    line-height: 90px;
    background: #da8103;
    background: -moz-linear-gradient(left, #da8103 0%, #da8103 0%, #ffeda3 50%, #da8103 99%);
    background: -webkit-linear-gradient(left, #da8103 0%,#da8103 0%,#ffeda3 50%,#da8103 99%);
    background: linear-gradient(to right, #da8103 0%,#da8103 0%,#ffeda3 50%,#da8103 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#da8103',GradientType=1 );

}

.block8 .list{
    width: 100%;
    margin: 80px 0 0 0;
}

.block8 .list .item{
    width: 476px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 70px;
}

.block8 .list .item .icon{
    text-align: center;
    width: 150px;
    vertical-align: middle;
    display: inline-block;
}

.block8 .list .item .txt{
    width: 320px;
    vertical-align: middle;
    display: inline-block;
}

.block8 .list .item .txt h3{
	color: #ff7300;
	font-size: 35px;
    font-family: 'gotham_htfbook';
    margin: 0 0 16px 0;
}

.block8 .list .item .txt p{
	color: #ffffff;
	font-size: 25px;
	line-height:30px;
    font-family: 'gotham_htfmedium';
    margin: 0;

}


/**
 * Promo 2
 * -----------------------------------------------------------------------------
 */

.promo2{
    background: url("../images/promo2.jpg") no-repeat top center;
    width: 100%;
    height: 564px;
}

.promo2 .title{
    font-family: 'edo_szregular';
    text-align: center;
    font-size: 90px;
    line-height: 80px;
    color: #000000;
    padding: 158px 0 0 0;
}

.promo2 .title span{
    color: #ff0000;
}

.promo2 .cta-area{
    position: relative;
    max-width: 745px;
    height: 266px;
    background: url("../images/cta-arrow2.png") no-repeat;
    margin: -44px 0 0 -55px;

}

.promo2 .cta-area .cta-button{
    display: block;
    width: 429px;
    height: 90px;
    background: url("../images/cta-button2.jpg") no-repeat;
    font-family: 'gotham_htfbold';
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    line-height: 90px;
    margin: 66px 0 0 95px;
    float: left;
}



/**
 * Promo
 * -----------------------------------------------------------------------------
 */
.promo{
    width: 100%;
    height: 319px;
    background: #ff0000;
}

.promo .title{
    float: left;
    width: 530px;
    font-size: 85px;
    line-height: 75px;
	margin: 30px 0 0 0;
    font-family: 'edo_szregular';
    color: #000000;
}

.promo .title span{
    color: #ffffff;
}

.promo .cta-area{
	float: right;
	position: relative;
	top: 37px;
	right: -2px;
	height: 305px;
	width: 430px;
	background: url("../images/cta-arrow1.png") no-repeat top left;
}

.promo .cta-area .cta-button{
	display: block;
	font-size: 35px;
	color: #ffffff;
	width: 429px;
	height: 90px;
	line-height: 90px;
	margin: 64px 0 0 0;
	text-align: center;
	text-decoration: none;
	background: url("../images/cta-button.png") no-repeat;
	font-family: 'gotham_htfbold';
}



/**
 * Block 9
 * -----------------------------------------------------------------------------
 */

.block9{
    position: relative;
    width: 100%;
    height: 2568px;
    background: url("../images/block9.jpg") no-repeat top center;
}

.block9 .title{
	color: #ffffff;
    font-size: 130px;
    line-height: 90px;
    font-family: 'gotham_htfbold';
    text-align: right;
    padding: 128px 0 0 0;
    text-transform: uppercase;
}

.block9 .title span{
    background: #00b421;
    line-height: 120px;
    display: inline-block;
}

.block9 .block-img{
    margin: 70px 0 0 0;
}

.block9 .block-txt{
    width: 100%;
}

.block9 .block-txt .image{
    float: left;
    position: relative;
    top: -30px;
    left: 20px;
}

.block9 .block-txt .text{
    font-family: 'Open Sans', sans-serif;
    float: left;
    font-size: 18px;
    font-style: italic;
    color: #ffffff;
    text-align: right;
    width: 370px;
    margin: 32px 0 0 0;
}

.block9 .block-txt .green-text{
    background: rgba(0,180,33,0.75);
    float: left;
    width: 370px;
    min-height: 144px;
    font-family: 'Open Sans', sans-serif;
    margin: -20px 0 0 30px;
    border-radius: 10px;
    padding: 20px 0 0 0;
}

.block9 .block-txt .green-text p{
    margin: 0;
    font-size: 18px;
    color: #002b08;
    padding: 13px 24px;
    font-style: italic;
}

.block9 .block-txt .green-text a{
	color: #ffffff;
    display: inline-block;
    padding: 12px 0 0 0;
    font-size: 26px;
	text-decoration: none;
}


.block9 .title2{
    text-align: right;
    font-family: 'gotham_htfbold';
    font-size: 130px;
    line-height: 85px;
    color: #ffffff;
	text-transform: uppercase;
    padding: 80px 0 0 0;
}

.block9 .title2 span{
    color: #ef2b33;
}

.block9 .block-container{
    margin: 70px auto 0;
    border: 10px solid #ffffff;
    border-radius: 10px;
    max-width: 960px;
    min-height: 460px;
}

.block9 .block-container .text-conteiner{
    max-width: 870px;
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
    font-family: 'gotham_htfbook';
    padding: 50px 0 0 50px;
    float: left;
}

.block9 .block-container .devider{
    margin: 40px 0 40px 50px;
    width: 640px;
    height: 1px;
    background: url("../images/block10-devider.png") no-repeat;
    float: left;
}

.block9 .block-container .text-conteiner2{
    max-width: 580px;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    padding: 0 0 0 50px;
}

.block9 .gun{
    width: 468px;
    height: 442px;
    background: url("../images/gun.png") no-repeat;
    position: absolute;
    bottom: 0;
    right: 240px;

}


/**
 * Promo 3
 * -----------------------------------------------------------------------------
 */
.promo3{
    background: url("../images/promo3.jpg") no-repeat top center;
    width: 100%;
    height: 668px;
}

.promo3 .title{
    font-family: 'edo_szregular';
    font-size: 80px;
    line-height: 70px;
    color: #00162d;
    padding: 10px 0 0 0;
}

.promo3 .title strong{
    font-family: 'gotham_htfbold';
    font-size: 110px;
    color: #ffffff;
}

.promo3 .title span{
    color: #ffdf00;
}


.promo3 .cta-area{
    float: right;
    position: relative;
    height: 190px;
    width: 690px;
    background: url("../images/cta-arrow3.png") no-repeat top right;
    top: -60px;
}

.promo3 .cta-area .cta-button{
    display: block;
    color: #000000;
    width: 569px;
    height: 90px;
    font-size: 35px;
    background: url("../images/cta-button3.jpg") no-repeat;
    line-height: 90px;
    margin: 90px 0 0 0;
    text-align: center;
    text-decoration: none;
    font-family: 'gotham_htfbold';
}



.promo3 .cta-area .cta-button span{
    color: #ffffff;
}

/**
 * Footer
 * -----------------------------------------------------------------------------
 */

.footer{
    float: left;
    width: 100%;
	padding: 80px 0 0 0;
}

.footer .left-side{
	float: left;
}

.footer .left-side .phone{
	float: left;
	font-size: 15px;
	color: #ffffff;
	font-family: 'gotham_htfmedium';
	margin: 0 20px 0 0;
}

.footer .left-side .icons{
	float: left;
}

.footer .left-side .icons a{
	display: inline-block;
	margin: 0 15px;
}

.footer .left-side .icons .mail{
	background: url('../images/footer-icons-sprite.png') no-repeat 0 0;
	width: 24px;
	height: 20px;	
}

.footer .left-side .icons .mail:hover{
	background: url('../images/footer-icons-sprite.png') no-repeat 0 -24px;
}

.footer .left-side .icons .vk{
	background: url('../images/footer-icons-sprite.png') no-repeat -54px 0;
	width: 20px;
	height: 20px;
}

.footer .left-side .icons .vk:hover{
	background: url('../images/footer-icons-sprite.png') no-repeat -54px -24px;
}

.footer .left-side .icons .fb{
	background: url('../images/footer-icons-sprite.png') no-repeat -106px 0;
	width: 10px;
	height: 20px;
}

.footer .left-side .icons .fb:hover{
	background: url('../images/footer-icons-sprite.png') no-repeat -106px -24px;
}

.footer .left-side .copy{
	color: #646464;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	margin: 25px 0 0 0;
}

.footer .right-side{
	float: right;
}



/**
 * Order Page
 * -----------------------------------------------------------------------------
 */

.order-bg{
    background: url("../images/order.jpg") no-repeat top center;
}

.order{
    width: 100%;
    padding-bottom: 200px;
    overflow: hidden;
}

.order .title{
    font-size: 50px;
    line-height: 60px;
    font-family: 'gotham_htfbook';
    text-align: center;
    color: #ffffff;
    padding: 80px 0 0 0;
}

.order .title span{
    display: inline-block;
    background: #ea0c0b;
    font-family: 'gotham_htfbold';
}

.order .form{
    position: relative;
    background: #ffffff;
    max-width: 960px;
    margin: 100px 0 0 0;
}

.order .form .form-wrap{
    padding: 0 100px;
}

.order .form .form-wrap .form-title{
    font-size: 28px;
    line-height: 1;
    font-family: 'gotham_htfmedium';
    color: #111111;
    text-align: center;
    padding: 70px 0;
}

.order .form .form-wrap .line{
    width: 100%;
    margin-bottom: 10px;
}

.order .form .form-wrap input[type="text"], .order .form .form-wrap input[type="email"], .order .form .form-wrap input[type="url"]{
    background: #f2f2f2;
    border: 1px solid #e3e3e3;
    width: 100%;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    text-indent: 24px;
    color: #b1b1b1;
    height: 50px;
    border-radius: 4px;
    box-sizing: border-box;
}


.order .form .form-wrap textarea{
    background: #f2f2f2;
    border: 1px solid #e3e3e3;
    width: 100%;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    padding: 24px;
    color: #b1b1b1;
    height: 120px;
    border-radius: 4px;
    box-sizing: border-box;
}

.order .form button{
    background: #ea0c0b;
    text-align: center;
    color: #ffffff;
    width: 220px;
    height: 50px;
    font-size: 20px;
    font-family: 'gotham_htfbold';
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.order .form .form-wrap .line .left{
    width: 530px;
    float: left;
}

.order .form .form-wrap .line .right{
    float: right;
}

.order .form .form-wrap .order-button{
    position: relative;
    bottom: -50px;
    margin: 0 auto;
    text-align: center;
}

.order .form .form-wrap .order-button button{
    background: url("../images/order-button.png") no-repeat top center;
    font-size: 40px;
    color: #ffffff;
    font-family: 'gotham_htfbold';
    text-transform: uppercase;
    border: 0 none;
    width: 619px;
    height: 115px;
    cursor: pointer;
}

.order .form .form-wrap .order-button button span{
    display: inline-block;
    height: 115px;
    line-height: 110px;
}

.order .bullet1, .order .bullet2, .order .bullet3, .order .bullet4, .order .bullet5{
    background: url("../images/bullet-black.png") no-repeat;
    width: 120px;
    height: 117px;
    position: absolute;
}

.order .bullet1{
    top: -15px;
    right: -66px;
}

.order .bullet2{
    top: 254px;
    left: 3px;
    transform: rotate(54deg);
}

.order .bullet3{
    top: 508px;
    right: -70px;
}

.order .bullet4{
    top: 780px;
    left: -68px;
}

.order .bullet5{
    top: 1004px;
    right: -17px;
}

.order .bullet6{
    background: url("../images/order-bullet.png") no-repeat;
    width: 396px;
    height: 478px;
    position: absolute;
    top: 190px;
    right: -375px;
}

.order .bullet7{
    background: url("../images/order-bullet2.png") no-repeat;
    width: 396px;
    height: 478px;
    position: absolute;
    top: 490px;
    left: -175px;
}

.order .button{
    display: inline-block;
    width: 620px;
    height: 115px;
}

.order-bg .footer{
    padding: 80px 0 60px 0;
}


@media only screen and (max-width : 1600px)  {
    .block9 .gun{
        right: 100px;
    }
}

@media only screen and (max-width : 1440px)  {
    .block9 .gun {
        right: 40px;
    }
}

@media only screen and (max-width : 1280px)  {
    .block9 .gun {
        display: none;
    }
}

@media only screen and (max-width : 1024px)  { 

}

@media only screen and (max-width : 960px)  {
    .block1 .magnum-bullet{
        display: none;
    }

    .block5 .level1 .bullet, .block5 .level2 .bullet1, .block5 .level2 .bullet2, .block5 .level2 .bullet3, .block5 .level2 .bullet4, .block5 .level2 .bullet5, .block5 .level2 .bullet6{
        display: none;
    }

    .order .bullet1, .order .bullet2, .order .bullet3, .order .bullet4, .order .bullet5, .order .bullet6, .order .bullet7{
        display: none;
    }

}



@media only screen and (max-width : 800px)  { 
	
}

@media only screen and (max-width : 560px)  {


    .head .info{
        margin: 12px 0px 0 0;
    }

    .head .info .phone, .head .info .mail{
        margin: 4px 12px;
    }

	.scrollup{
		right: 20px;
		bottom: 20px;
	}
	
	.block1 .left-side, .block1 .right-side{
		width: 100%;
	}

    .block1 .welcome .left-side .title {
        padding: 12px;
        font-size: 24px;
        line-height: 24px;
    }

    .block1 .welcome .right-side{
        margin: 0;
    }

    .block1 .welcome .right-side .offer{
        max-width: 355px;
        background-size: cover;
        width: inherit;
        height: auto;
        padding: 80px 0;
        text-align: center;
    }




    .block2 .list .item {
        width: 100%;
        margin: 20px 0 0 0;
    }


    .block2 .list .item .icon.icon1, .block2 .list .item .icon.icon2, .block2 .list .item .icon.icon3, .block2 .list .item .icon.icon4, .block2 .list .item.item3, .block2 .list .item.item4 {
        width: 100%;
        text-align: center;
    }

    .block2 .list .item .txt{
        width: 100%;
        text-align: center;
    }

	
	.block8 .list .item{
		width: 100%;
	}

	.block8 .list .item .icon, .block8 .list .item .txt{
		width: 100%;
	}

    .footer .left-side .phone{
        width: 100%;
    }

    .footer .left-side .icons{
        width: 100%;
        padding: 0 12px;
        margin: 12px 0 0 -24px;
    }

    .footer .left-side, .footer .right-side{
        float: left;
        width: 100%;
        padding: 12px;
    }
	
}