body{
    background: #ffffff;
}

/**
 * Base styles
 * -----------------------------------------------------------------------------
 */


/**
 * Fonts
 * -----------------------------------------------------------------------------
 */

@font-face {
    font-family: 'gotham_htfmedium';
    src: url('../fonts/gothhtfm-webfont.eot');
    src: url('../fonts/gothhtfm-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gothhtfm-webfont.woff') format('woff'),
    url('../fonts/gothhtfm-webfont.ttf') format('truetype'),
    url('../fonts/gothhtfm-webfont.svg#gotham_htfmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_htfbold';
    src: url('../fonts/gothhtfb-webfont.eot');
    src: url('../fonts/gothhtfb-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gothhtfb-webfont.woff') format('woff'),
    url('../fonts/gothhtfb-webfont.ttf') format('truetype'),
    url('../fonts/gothhtfb-webfont.svg#gotham_htfbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gotham_htfbook';
    src: url('../fonts/gothht01-webfont.eot');
    src: url('../fonts/gothht01-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gothht01-webfont.woff') format('woff'),
    url('../fonts/gothht01-webfont.ttf') format('truetype'),
    url('../fonts/gothht01-webfont.svg#gotham_htfbook') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'edo_szregular';
    src: url('../fonts/edosz-webfont.eot');
    src: url('../fonts/edosz-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/edosz-webfont.woff') format('woff'),
    url('../fonts/edosz-webfont.ttf') format('truetype'),
    url('../fonts/edosz-webfont.svg#edo_szregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.container{
    margin: 0 auto;
    max-width: 960px;
}


body{
    font-family: 'Open Sans', sans-serif;
}


.head{
    background: #111111;
    margin: 0 auto;
    min-height: 100px;
    max-width: 960px;
}

.head .logo{
    float: left;
    width: 250px;
    height: 40px;
    margin: 40px 0 0 30px;
}

.head .info{
    float: right;
    font-family: 'gotham_htfmedium';
    color: #ffffff;
    margin: 45px 40px 0 0;
}

.head .info a{
    color: #ffffff;
    text-decoration: none;
}

.head .info .mail,  .head .info .phone{
    padding: 0 0 0 30px;
    display: inline-block;
    font-size: 15px;
}

.head .info .mail{
    background: url("../images/icon-mail.png") no-repeat top left;
}

.head .info .phone {

    background: url("../images/icon-phone.png") no-repeat top left;
}


/**
 * Block 1
 * -----------------------------------------------------------------------------
 */

.block1{
    width: 100%;
    height: 1348px;
    background: url("../images/block1.jpg") no-repeat top center;
}


/**
 * Block 2
 * -----------------------------------------------------------------------------
 */

.block2{
    width: 100%;
    height: 1348px;
    background: url("../images/block2.jpg") no-repeat top center;
}

.block2 .title{

}

.block2 .list{

}

.block2 .list .item{

}

.block2 .list .item .icon {
    display: inline-block;
}

.block2 .list .item .txt{
    display: inline-block;
    font-size: 30px;
    font-family: 'gotham_htfmedium';
    color: #ffffff;
}


.block2 .subtitle{
    text-align: center;
    font-family: 'edo_szregular';
    font-size: 80px;
    color: #ff7200;
    -webkit-text-stroke-width: 10px;
    -webkit-text-stroke-color: black;
}

.block2 .subtitle span{
    color: #ea0c0b;
}

/**
 * Block 3
 * -----------------------------------------------------------------------------
 */

.block3{
    width: 100%;
    height: 1348px;
    background: url("../images/block3.jpg") no-repeat top center;
}


/**
 * Block 4
 * -----------------------------------------------------------------------------
 */

.block4{
    width: 100%;
    height: 1056px;
    background: url("../images/block4.jpg") no-repeat top center;
}




/**
 * Footer
 * -----------------------------------------------------------------------------
 */

.footer{
    background: #000000;
}